main {
    font-family: 'poppins', sans serif;
    text-align: center;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.border {
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    padding: 5px 20px;
}

h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(68, 148, 197);
}
a::after {
    padding-left: 15px;
    content: '>';
}

a:hover {
    opacity: 0.5;
}